.tentang {
  padding: 30px;
  background-color: #fffaf0;
}

.tentang h2 {
  color: maroon;
  margin-top: 25px;
}

.tentang p {
  font-size: 16px;
  color: #333;
  line-height: 1.7;
}

.tentang ul {
  padding-left: 20px;
  font-size: 16px;
}

.tentang ul li {
  margin-bottom: 8px;
}
